<!doctype html>
<html>
<head>
    <title>Barista</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
</head>
<body class="index">
<div class="container">

    <div class="jumbotron text-center">
        <section class="logoImg">
            <img class="logo" src="img/logo.png" alt="">
        </section>
        <img class="civet" src="img/civet.png" alt="civet">
        <h2>Ethically Sourced Kopi Luwak</h2>

        
        <a href="/login" class="btnLogin btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btnSign btn btn-default"><span class="fa fa-user"></span> Signup</a>
       

    </div>

</div>
</body>
</html>
